/*********************************************         Tags              ***************************************************/
body{
  background-color: #b0e0e6;
}
hr{
  border-style: solid;
  border-color: white;
  width: 80%;
  border-width: .5px;
}
/*********************************************         Classes           ***************************************************/
.Headings{
  color: #047E62;
}
